@{
    ViewBag.Title = "Dashboard";
    ViewBag.homestat = "Test sat";
}
@if (Request.IsAuthenticated)
{
    if (User.Identity.Name == "adamdthomas@gmail.com")
    {
        <!--Script for individual relay countdown timers-->
        <script>


                window.onload = function () {
                    Update();

                    $("#bigswitch").submit(function (e) {
                        e.preventDefault();
                        callGarageBench("time!" + $("#minutes").val() * 60000 + "!" + $("#relaynumber").val() + "!")
                    });
  
                };

                function Update() {
                    callGarageBench("update");
                    callGarageDoor("update");
                }

  


            function callGarageDoor(command) {
                $.get("@Url.Action("CallController", "home")", { command: command, domain: "GARAGEDOOR" })
                    .always(function (data) {
                        var myJ = JSON.parse(data);
                        if (myJ.DoorOpened == "true") {
                            $('#door').text("Opened");
                        } else {
                            $('#door').text("Closed");
                        }
                        setTimeout(function () { callGarageDoor("update"); }, 5000);
                    });
            }
            
        

            function callGarageBench(command) {

               $.get("@Url.Action("CallController", "home")", { command: command, domain: "GARAGEBENCH" })
                    .always(function (data) {
                    var myJ = JSON.parse(data);

                    if(window.timers){
                        $.each(window.timers, function( index, timer ) {
                            timer.stop()
                        });
                    }


                    var r1 = new CountDownTimer(ToSec(myJ.r1t)),
                    r2 = new CountDownTimer(ToSec(myJ.r2t)),
                    r3 = new CountDownTimer(ToSec(myJ.r3t)),
                    r4 = new CountDownTimer(ToSec(myJ.r4t));

                    window.timers = [r1, r2, r3, r4]

                    r1.onTick(format(document.querySelector('#relayone'))).start();
                    r2.onTick(format(document.querySelector('#relaytwo'))).start();
                    r3.onTick(format(document.querySelector('#relaythree'))).start();
                    r4.onTick(format(document.querySelector('#relayfour'))).start();

                    $('#temp').text(myJ.Temp);
                    $('#humid').text(myJ.Humidity);
                    $('#press').text(myJ.Pressure);


                    
                });
            }



        </script>



        		


        <h1 class="lead">Garage</h1>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <!--Drop down list for individual relays and custom time-->
                        <form id="bigswitch" method="post">
                            <div class="form-group">
                                <label name="addMinInput">Add Minutes</label>
                                <input type="hidden" name="domain" value="GarageBench" />
                                <input id="minutes" class="form-control" type="number" name="min" value="120">
                                <br />
                                <label for="sel1">Outlet:</label>
                                <select id="relaynumber" class="form-control" name="relay">
                                    <option value="all">All</option>
                                    <option value="rOne">Outlet 1</option>
                                    <option value="rTwo">Outlet 2</option>
                                    <option value="rThree">Outlet 3</option>
                                    <option value="rFour">Outlet 4</option>
                                    <option value="openon">Open & On</option>
                                    <option value="closeoff">Close & Off</option>
                                </select>
                                <br />
                                <button type="submit" class="btn btn-success">Submit</button>
                                <br />
                                <br />
                                <a type="button" class="btn btn-default" onclick="Update();">Update</a>
                            </div>
                        </form>
                        <br />
                    </div>
                    <div class="col-xs-6">
                        <p>Garage Door: <span id="door"></span></p>
                        <p>Temperature: <span id="temp"></span></p>
                        <p>Humidity: <span id="humid"></span> %</p>
                        <p>Pressure: <span id="press"></span> hPa</p>

                        <p>1: <span id="relayone"></span></p>
                        <p>2: <span id="relaytwo"></span></p>
                        <p>3: <span id="relaythree"></span></p>
                        <p>4: <span id="relayfour"></span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" align="center">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Add</th>
                                    <td>
                                        <a class="btn btn-default" onclick="callGarageBench('t!900000!rOne!');">1</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" onclick="callGarageBench('t!900000!rTwo!');">2</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" onclick="callGarageBench('t!900000!rThree!');">3</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" onclick="callGarageBench('t!900000!rFour!');">4</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" onclick="callGarageBench('t!900000!all!');">All</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Clear</th>
                                    <td>
                                        <a class="btn btn-default" onclick="callGarageBench('t!0!rOne!');">1</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" onclick="callGarageBench('t!0!rTwo!');">2</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" onclick="callGarageBench('t!0!rThree!');">3</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" onclick="callGarageBench('t!0!rFour!');">4</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" onclick="callGarageBench('t!0!all!');">All</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Garage Door</th>
                                    <td>
                                        <a class="btn btn-default" onclick="callGarageDoor('GarageDoor/Open')">Open</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" onclick="callGarageDoor('GarageDoor/Close')">Close</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <script>
                    function directCam(d, camName) {
                        $.ajax({
                            url: '@Url.Action("controlcam", "home")',
                            data: { d: d, camName: camName}
                        });
                    }
                </script>

                <script>
                    function timedRefresh(timeoutPeriod) {
                        setTimeout(function() {
                            location.reload(true);
                        }, timeoutPeriod);
                    }

                </script>

                <br />
                <button data-toggle="collapse" class="btn btn-default" data-target="#sc">Hide/Show</button>
                <br />
                <div id="sc" class="collapse in">
                    <div class="panel-body">
                        <br />
                        <img src="@Url.Action("GarageCamJPG","Home")?p" onload='setTimeout(function() {src = src.substring(0, (src.lastIndexOf("?p")+2))+(new Date()).getTime()}, 500)' img style='height: 100%; width: 100%; object-fit: contain' alt='' />
                        <br />
                        <br />
                        <div align="center">
                            <button type="button" class="btn btn-default btn-lg" ontouchstart="directCam('ptzMoveUp', 'cam2')" ontouchend="directCam('ptzStopRun', 'cam2')" onmousedown="directCam('ptzMoveUp', 'cam2')" onmouseup="directCam('ptzStopRun', 'cam2')">
                                <span class="glyphicon glyphicon-arrow-up" />
                            </button>
                            <button type="button" class="btn btn-default btn-lg" ontouchstart="directCam('ptzMoveLeft', 'cam2')" ontouchend="directCam('ptzStopRun', 'cam2')" onmousedown="directCam('ptzMoveLeft', 'cam2')" onmouseup="directCam('ptzStopRun', 'cam2')">
                                <span class="glyphicon glyphicon-arrow-left" />
                            </button>
                            <button type="button" class="btn btn-default btn-lg" ontouchstart="directCam('ptzMoveRight', 'cam2')" ontouchend="directCam('ptzStopRun', 'cam2')" onmousedown="directCam('ptzMoveRight', 'cam2')" onmouseup="directCam('ptzStopRun', 'cam2')">
                                <span class="glyphicon glyphicon-arrow-right" />
                            </button>
                            <button type="button" class="btn btn-default btn-lg" ontouchstart="directCam('ptzMoveDown', 'cam2')" ontouchend="directCam('ptzStopRun', 'cam2')" onmousedown="directCam('ptzMoveDown', 'cam2')" onmouseup="directCam('ptzStopRun', 'cam2')">
                                <span class="glyphicon glyphicon-arrow-down" />
                            </button>
                        </div>
                        <br />
                        <div align="center">
                            <button type="button" class="btn btn-default btn-lg" ontouchstart="directCam('zoomIn', 'cam2')" ontouchend="directCam('zoomStop', 'cam2')" onmousedown="directCam('zoomIn', 'cam2')" onmouseup="directCam('zoomStop', 'cam2')">
                                <span class="glyphicon glyphicon-zoom-in" />
                            </button>
                            <button type="button" class="btn btn-default btn-lg" ontouchstart="directCam('zoomOut', 'cam2')" ontouchend="directCam('zoomStop', 'cam2')" onmousedown="directCam('zoomOut', 'cam2')" onmouseup="directCam('zoomStop', 'cam2')">
                                <span class="glyphicon glyphicon-zoom-out" />
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
     }
}

