@{
    ViewBag.Title = "Dashboard";
    ViewBag.homestat = "Test sat";
}

<h1 class="lead">Dashboard</h1>

<div class="panel panel-default">
    <div class="panel-body">
        @if (Request.IsAuthenticated)
        {
            if (User.Identity.Name == "adamdthomas@gmail.com")
            {
                <a type="button" class="btn btn-default" href=@Url.Action("Update", "Home")>Update</a>
                <a type="button" class="btn btn-default" href=@Url.Action("AddTime", "Home")>Add Time</a>
                <a type="button" class="btn btn-default" href=@Url.Action("RemoveTime", "Home")>Remove Time</a>
             
                <h3>Status:</h3>

                <p>HomeStat: @ViewBag.homestat</p>
                <p>Message: @ViewBag.Message</p>
            }
         }
    </div>
</div>

