@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HouseFly</h1>
    <p class="lead">Home Automation Hub.</p>
</div>

<br />
<br />
<br />

@if (Request.IsAuthenticated)
{
    if (User.Identity.Name == "adamdthomas@gmail.com")
    {
        <h1>Welcome!</h1>
    }
}