@{
    ViewBag.Title = "Porch";
}

@if (Request.IsAuthenticated)
{
    if (User.Identity.Name == "adamdthomas@gmail.com")
    {
        <!--Script for individual relay countdown timers-->
        <script>
                window.onload = function () {
                Update();
                $("#bigswitch").submit(function (e) {
                    e.preventDefault();
                    callPorchLights("time!" + $("#minutes").val() * 60000 + "!" + $("#relaynumber").val() + "!")
                });
            };

            function Update() {
                callPorchLights("update");
                outsideTemp();
            }

            function outsideTemp() {
                $.get("@Url.Action("GetWeather", "home")", function (data) {
                    var myJ = JSON.parse(data);
                    $( "#outsidetemp" ).text( myJ.main.temp );

                });
            }

            function callPorchLights(command) {

                $.get("@Url.Action("CallController", "home")", { command: command, domain: "Porch" })
                    .always(function (data) {
                var myJ = JSON.parse(data);

                if (window.timers) {
                    $.each(window.timers, function (index, timer) {
                        timer.stop()
                    });
                }


                var r1 = new CountDownTimer(ToSec(myJ.r1t)),
                r2 = new CountDownTimer(ToSec(myJ.r2t));

                window.timers = [r1, r2]

                r1.onTick(format(document.querySelector('#porchrelayone'))).start();
                r2.onTick(format(document.querySelector('#porchrelaytwo'))).start();



            });
            }
        </script>

        <h1 class="lead">Porch</h1>
             <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <!--Drop down list for individual relays and custom time-->
                                <form id="bigswitch" method="post">
                                    <div class="form-group">
                                        <label name="addMinInput">Add Minutes</label>
                                        <input type="hidden" name="domain" value="Porch" />
                                        <input class="form-control" type="number" name="min" placeholder="Min">
                                        <br />
                                        <label for="sel1">Outlet:</label>
                                        <select class="form-control" name="relay">
                                            <option value="rOne">Outlet 1</option>
                                            <option value="rTwo">Outlet 2</option>
                                            <option value="all">All</option>
                                        </select>
                                        <br />
                                        <button type="submit" class="btn btn-success">Submit</button>
                                        <br />
                                        <br />
                                        <a class="btn btn-default" onclick="Sync();">Update</a>


                                    </div>
                                </form>
                                <br />
                            </div>
                            <div class="col-xs-6">
                                <p>Outside Temp: <span id="outsidetemp"></span></p>
                                <p>1: <span id="porchrelayone"></span></p>
                                <p>2: <span id="porchrelaytwo"></span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" align="center">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Add</th>
                                            <td>
                                                <a class="btn btn-default" onclick="callPorchLights('t!3600000!rOne!');">1</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-default" onclick="callPorchLights('t!300000!rTwo!');">2</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-default" onclick="callPorchLights('t!900000!all!');">All</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Clear</th>
                                            <td>
                                                <a class="btn btn-default" onclick="callPorchLights('t!0!rOne!');">1</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-default" onclick="callPorchLights('t!0!rTwo!');">2</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-default" onclick="callPorchLights('t!0!all!');">All</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
    }
}

