

@if (Request.IsAuthenticated)
{
    if (User.Identity.Name == "adamdthomas@gmail.com")
    {
        <br/>
        <br />
        <br />
        
        <p> Running: @ViewBag.isRunning </p>
        <p> Success Count: @ViewBag.runCount </p>
        <p> Error Count: @ViewBag.errorCount </p>

        <div class="row">
            <div class="col-xs-2" align="center">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">KeepAlive:</th>
                            <td>
                                <a type="button" class="btn btn-default" href=@Url.Action("SandBoxHandler", "Home", new { command = "RUNCHECKER", arg = "TRUE" })>Start</a>
                            </td>
                            <td>
                                <a type="button" class="btn btn-default" href=@Url.Action("SandBoxHandler", "Home", new { command = "RUNCHECKER", arg = "FALSE" })>Stop</a>
                            </td>
                            <td>
                                <a type="button" class="btn btn-default" href=@Url.Action("SandBoxHandler", "Home", new { command = "GENERAL", arg = "CLEAR" })>Clear</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


                            }
                            }
