@if (Request.IsAuthenticated)
{
    if (User.Identity.Name == "adamdthomas@gmail.com")
    {
        <script>

            function Getgarage() {
                $.get("@Url.Action("UpdateGarageBench", "Home")", function (data) {
                    $('#elone').text(data);
                    var myJ = JSON.parse(data);
                    $('#eltwo').text(myJ.Temp);
                });
            }


        </script>


        <br />
        <input type="button" value="Test Element Update" class="btn btn-danger btn-lg" onclick="Getgarage();" />
        <br />
        <br />
        <p>1: <span id="elone"></span></p>
        <br />
        <p>2: <span id="eltwo"></span></p>
        <br />
        <p>3: <span id="elthree"></span></p>
        <br />
        <p>4: <span id="elfour"></span></p>
        <br />
    }
}
