@{
    ViewBag.Title = "Video";
}
<h1 class="lead">Baby's Room</h1>

@if (Request.IsAuthenticated)
{
    if (User.Identity.Name == "adamdthomas@gmail.com")
    {
        <img src="http://thomasworkshop.com:88/CGIProxy.fcgi?cmd=snapPicture2&&t=" onload='setTimeout(function() {src = src.substring(0, (src.lastIndexOf("t=")+2))+(new Date()).getTime()}, 1000)' onerror='setTimeout(function() {src = src.substring(0, (src.lastIndexOf("t=")+2))+(new Date()).getTime()}, 5000)' width="640" height="360" alt='' />
    }
}